@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
body {
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
   
}

.footer-logo-div{
    /* margin-left: 38px; */
   
}

#copyRight-mob{
    display: none;
}


.mid-footer-div{
    display: none;
}

.playIconDiv{
    display: none;
}
.followIcon{
    display: none;
}
.imgDivAbout{
    position: relative;
    bottom:51px
}
.divBorder{
    border: 1px solid red ;
}

.success-img{
    height: 150px;
    width: 180px;    
}

.backgroundTheme{
    position : fixed;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    width : 100vw;
    height : 100vh;
  background: rgba(0, 0, 0, 0.5);
    display : none;
    z-index : 7;
}

.form-thanks{
    display: none;
    z-index: 200;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 1);
   
}

.error-msg{
    display: none;
    font-size: 13px;
    color: red;
    font-weight: bold;
}

.content{
    display: none;   
}

.activeContent{

    display: flex;
    justify-content: center;
}


.content-1-img{
    background-size: cover; 
    background-image: url("../../assets/images/bg-1.png");
}

.content-2-img{
    background-size: cover; 
    background-image: url("../../assets/images/bg-2.png");
}
.content-3-img{
    background-size: cover; 
    background-image: url("../../assets/images/bg-3.png");
}
.content-4-img{
    background-size: cover; 
    background-image: url("../../assets/images/bg-4.png");
}
.content-5-img{
    background-size: cover; 
    background-image: url("../../assets/images/bg-5.png");
}
.content-6-img{
    background-size: cover; 
    background-image: url("../../assets/images/bg-6.png");
}

.mobileBannerImg{
    display: none;
}

.bodyWithNoFooter{
 margin-left: 38px;
    margin-right: 30px;
}

#logo {
    height: 38.020076751708984px;
    width: 190.72946166992188px;
}

#banner{
    margin-top: 139px;
  
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

#midBox{
    width: 60%;
    margin-left: 30px;
    margin-right: 30px;   
}

.headingTextDiv{
    
    
    
}
.headingText{   
    align-items: center;
   
    margin:auto;
    position: relative;
    bottom: 30px;
    font-weight: bold;
    font-size: 40px;
}

.borderDiv{
    border: 1px solid red;
}
.headingMidText{
    
   
   padding-left: 55px;
   padding-right: 55px;
    
    color: #3D3D3D;
    align-items: center;
    font-weight: 550;
    font-size: 22px;
    margin-bottom: 50px;
}

#emailInput{
    width: 370px;
    background: #F7FFEF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 71px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

}



#emailSubmitBtn{
    font-weight: bold;
    color: white;
    height: 71px;
    font-size: 16px;
    padding-left: 50px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 50px;
    background: #86C64D;
border-radius: 10px;
border: 0px solid white;
}

.btnRow{
   
    display: flex !important;
    justify-content: space-around;    
    /* gap:15px;             */
    margin-left:57px ;
    margin-right:50px ;
    margin-bottom: 80px;

}

.videoBlock{
    background: #F6F6F6;
    border-radius: 20px;
    padding-top: 68px;
    padding-bottom: 67px;
    margin-bottom: 100px;
    
    
}

.selected{
    width: 196px;
    background: #86C64D;
    box-shadow: 0px 4px 12px rgba(134, 198, 77, 0.24);
    border-radius: 10px;
    padding: 21px 50px;
    font-size: 16px;
    color: white;
    border: 0px solid white;
}
.unselected.active {
    background: #86C64D;
    color:white;    
    }

.selected:hover{
    background-color: #86C64D;
    
}



.unselected{
    font-weight: bolder;
    width: 196px;
    background: #DBDBDB;
    font-size: 15px;
    padding: 17px 17px;
    border: 0px solid white;
    border-radius: 10px;
}

.videoPlayBox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 424px;
    
    border-radius: 20px;
    margin-left: 57px;
}


.videoTitle{
    font-size: 36px;
    font-weight: 600;
}
.VideoData{
    margin-left: 68px;
    margin-right: 80px;
}
.videoDes{
    margin-top: 32px;
    font-size: 19px;
    font-weight: 400;
    color: #3D3D3D;
}

.aboutBlock{
    background: #F6F6F6;
    border-radius: 20px;
    
}
.innnerAboutBlock{
    margin-left: 56px;
    margin-right: 39px;
    padding-top: 51px;
    margin-bottom: 84px;
    
}
.aboutHead{
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 36px;
}

.aboutDes{   
   text-align: start;
     margin-top: 30px;
     /* margin-left: -24px; */
/* width: 750px; */
    font-weight: 400;
    font-size: 22px;

    color: #3D3D3D;
}

.aboutDesBlock{
    padding-bottom: 20px;
}

.footerBlock{
    
    height: 228px;
    background: #171717;
    padding-left: 30px;
    padding-right: 30px;
}
.footerImg{
    width: 170px;
height: 35.57px;
}

.followText{
    display: none;
    font-weight: 500;
font-size: 24px;
color: white;
}

.aboutImg{

    width:382.53px;
    height: 262.7px;
   }

   .inputPlusBtn{
    display: flex;
    justify-content: center;
    gap:17px
   }

   .active {
    display: block;
}

.footer-bg-color{
    padding-top: 40px;
    background-color: #171717;
    color: white;

}


@media (max-width: 768px) {
    .copyRight{
        display: none;
    }

    #copyRight-mob{
        display: block;
    }
    .aboutDesBlock{
        padding-bottom: 70px;
    }
    .imgDivAbout{
        position: relative;
        bottom:0px
    }

    .error-msg{
        
        font-size: 8px;
        
    }

    .form-thanks{
    right: 0;
       
        width: 100%;
        height: 350px;
        
       
    }
    *{
        margin-left: 0 ;
        margin-right: 0 !important;
    }
   
    .bodyWithNoFooter{        
        margin-left: 0;
        margin-right: 0 !important;
        
       }
          
    .inputPlusBtn{
             
        justify-content: center !important;
        gap: 14px !important;
        margin-left: 25px !important;
        margin-right: 25px !important;
    }
   

    .mobileBannerImg{
        display: block;
        display: flex;
        margin-bottom: -30px;
        margin-top: 70px;
        justify-content: center;
        gap: 18px;

    }
    .mobileImg{
        height: 176px;
    }
    .mobileImg2{
        position: relative;
        top: 30px;
    }
    #nav{
        display: flex;
        justify-content: center !important;
    }


    /* ----- */
   

       .followIcon{
        display: flex;
        justify-content: start !important;
        gap: 15px;
       }

       .aboutImg{
        width: 247px;
        height: 170px;
       }


       .aboutBlock{
        margin-bottom: 60px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    border-radius: 0px;
       }

       .innnerAboutBlock{
margin: 25px 25px;
       }

    .aboutHead{
        margin-bottom: 32px;
        font-size: 20px;
        /* margin-bottom: 20px; */
    }
    .aboutDes{
        margin-top: 0px;
        width: 100%;
        font-size: 14px;
    }

    .videoBlock{
        padding-top: 50px;
        border-radius: 0px;
        border: 0px white solid;
        padding-left: 25px;
        padding-right: 25px;
      margin-bottom: 45px;
        padding-bottom: 50px;
        
    }

    .videoPlayBox{
        width: 100% !important;
        margin-left: 0px;
        margin-right: 0px;
        height: 199px;
        
        
    }
    .VideoData{
       
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .videoTitle{
font-size: 20px;
    }
    .videoDes{
        font-size: 14px;
    }
    .playIcon{
        
        height: 35px;
        width: 35px;
    }

    .btnRow{
        justify-content: start; 
        flex-wrap: wrap;
        gap:12px ;
        margin-bottom: 50px;
        padding: 0;
        margin-left:0px !important ;
        margin-right: 0px !important;
       
    }

    .selected{
        margin-bottom: 10px;
        width: auto;         
        padding: 12px 24px;
        font-size: 11px;
        
    }
    .unselected{
        /* margin-bottom: -0px; */
        width: auto;         
        padding: 12px 24px;
        font-size: 11px;
    }

    .followText{
    
    font-size: 14px;
    
    }
    .footerImg{
        width: 139px;
    height: 29px;
    }

    .footerIcon{
        display: none;
        height: 29px;
        width: 29px;
    }

    .followIcon{   
        gap: 7px;
       }

       .bannerImgDes{
        display:none;        
       }
.headingText{
   
    /* width: 90%; */
    margin: auto;
    font-size: 22px;
}
.headingMidText{
    
    margin: auto;
    width: auto;       
    font-size: 15px;
    margin-bottom: 30px;
}

#emailInput{
    
    width: 100%;
    padding-left: 10px;
    padding-right: 0px;
    font-size: 12px !important    ;
    height: 50px !important;
}

#emailSubmitBtn{
    color: white;
    height: 50px !important;
    padding: 15px;
    width: 120px;
    font-size: 12px !important;
}


#midBox{
    margin: 0px;
width: 100%;

}

#banner{
    
    margin-bottom: 45px;
}



       
    
}

